/*Corps*/


/*Index.php*/
div#corps{
    width:80%;
    height: 350px;
    margin: auto;
    border: 1px solid;
}
div#corps-main{
    width: 70%;
    height: 100%;
    float: left;
}
div#corps-right{
    width: 30%;
    height: 100%;
    float: right;
    border-left: 2px groove;
}

div#connexion{
    margin: auto;
    width: 95%;
    height: 280px;
    border-bottom: 1px groove;
}

div#corps-header{
    margin: 10px auto;
    width: 50%;
    height: 25px;
    border-bottom: 1px groove;

}

div#connexion-title{
    text-align: center;
    color: #1b609a;
    width: 100px;
    height: 20px;
    margin: auto;
    border-bottom: 1px solid;

}


/*offers.php*/
div#offres{
    width: 80%;
    height: 100px;
    margin: auto;
    border: 1px solid;
}

#erreurConnexion,#msgSessionTimeOut {
    color: red;
}