/*Corps*/


/*Index.php*/
div#corps{
    width:80%;
    height: 1000px;
    margin: auto;
    border: 1px solid;
}
div#corps-main{
    width: 70%;
    height: 100%;
    float: left;
}
div#corps-header{
     width: 70%;
    margin: 20px auto;
 }

div#corps-right{
    width: 30%;
    height: 100%;
    float: right;
    border-left: 2px groove;
}

div#connexion{
    margin: auto;
    width: 95%;
    height: 300px;
    border-bottom: 1px groove;
}

div#connexion-title{

    text-align: center;
    color: #1b609a;
    width: 100px;
    height: 20px;
    margin: auto;
    border-bottom: 1px solid;

}
a:hover{
    font-size: 15px;
}
a:link{
    cursor:  pointer;
}

/*offers.php*/
div#offres{
    width: 80%;
    height: 100px;
    margin: auto;
    border: 1px solid;
}

/*register.php*/
div#inscription{
    width: 80%;
    margin: auto;
    border: 1px solid;
}



#erreurConnexion,#msgSessionTimeOut {
    color: red;
}

/*Code de la page de connexion de l'agent*/
div#connexionAgent{
    width:50%;
    margin: 20% auto;
}