/*header and footer*/

div#headers {
    height: 260px;
    width: 80%;
    border: 1px solid;
    background: #FFF;
    margin: auto;
}

div#entete-img{
    height: 200px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid;
    background: url("/Projet_BFCash/BFCash/Ressources/img/header.png") no-repeat top left;

}
div#logo{
    height: 150px;
    width: 150px;
    float: left;
    position: absolute;
    top: 50px;

}
div#menu{
    height: 60px;
    width: 100%;
    border: 1px solid;
}
div#userHeader{
    float: right;
    position: absolute;
}

.navbar-brand,
.navbar-nav > li > a {
    line-height: 50px;
    height: 30px;
    padding-top: 0px;
}